* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
h2 {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.column-left {
  flex: 25%;
  padding: 10px 0px 50px 0px;
  background: rgb(217, 221, 237);
  background: radial-gradient(
    circle,
    rgba(217, 221, 237, 1) 0%,
    rgba(165, 81, 249, 1) 100%
  );
  text-align: center;
}
div.column-left {
  border-style: solid;
  border-color: #7538ab;
}
.column-right {
  flex: 75%;
  background: rgb(217, 221, 237);
  background: radial-gradient(
    circle,
    rgba(217, 221, 237, 1) 0%,
    rgba(89, 81, 249, 1) 100%
  );
  text-align: center;
}
div.column-right {
  border-style: solid;
  border-color: #3138ab;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
label {
  margin: 5px 0;
  text-align: center;
}
select {
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .column-left {
    margin: 25px;
  }
}
