* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
/* Create two equal columns that floats next to each other */
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column-left {
  flex: 25%;
  padding: 10px;
  background-color: purple;
  flex-direction: column;
  display: flex;
}
.column-right {
  flex: 75%;

  background-color: purple;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
